output {
  display: block;
  margin: 0.5rem 0;
  text-align: center;
}

#score {
  font-weight: bold;
  font-size: 1.05rem;
}

#progress {
  font-size: 0.95rem;
}

.answer_item {
  user-select: none;
  cursor: pointer;
}

.answer_item::before {
  content: '🐼';
  font-size: 1.25rem;
  margin-right: 0.5rem;
  opacity: 0;
}

.answer_item.checked::before {
  opacity: 1;
}

.right {
  color: green;
}

.wrong {
  color: red;
}
