#game_title {
  font-size: 1.2rem;
  text-align: center;
}

output {
  display: block;
  margin: 0.6rem;
  text-align: center;
}

#score {
  font-weight: bold;
  font-size: 1.1rem;
}

.game_item {
  user-select: none;
  cursor: pointer;
}

.game_item::before {
  content: "🐼";
  font-size: 1.2rem;
  margin-right: 0.6rem;
  opacity: 0;
}

.game_item.checked::before {
  opacity: 1;
}

.right {
  color: green;
}

.wrong {
  color: red;
}
