output {
  display: block;
  margin: 0.6rem;
  text-align: center;
}

#score {
  font-weight: bold;
  font-size: 1.05em;
}

#progress {
  font-size: 0.96;
}

.answer_item {
  user-select: none;
  cursor: pointer;
}

.answer_item::before {
  content: "🐼";
  font-size: 1.2em;
  margin-right: 0.6rem;
  opacity: 0;
}

.answer_item.checked::before {
  opacity: 1;
}

.right {
  color: green;
}

.wrong {
  color: red;
}
