section {
  width: 95%;
  margin: 0.5rem auto;
  content-visibility: auto;
}

h3 {
  font-size: 1.05rem;
  margin: 0.5rem 0;
}

ul {
  display: grid;
  justify-content: center;
  grid-template-rows: max-content;
  list-style: none;
}

ol {
  padding-left: 2.5rem;
}

li {
  text-align: left;
  font-size: 0.95rem;
  letter-spacing: 0.75px;
  line-height: 1.25em;
}

details {
  width: 100%;
  margin: 0.5rem 0;
}

details > *:not(summary) {
  display: none;
}

details[open] > * {
  display: block;
}

summary {
  font-size: 1.05rem;
  outline: none;
  user-select: none;
  cursor: pointer;
}

h4 {
  font-size: 1.05rem;
  margin: 0.5rem 0;
}

p {
  padding: 0 0.5rem;
  text-align: left;
}
