@import './public/css/buttons.css';
@import './public/css/code.css';
@import './public/css/footer.css';
@import './public/css/game.css';
@import './public/css/header.css';
@import './public/css/loader.css';
@import './public/css/section.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  text-align: center;
  color: #222;
}

body {
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #222;
}

main {
  flex: 1;
}

@media (max-width: 648px) {
  * {
    font-size: 0.95rem;
  }
}
