@import './css/buttons.css';
@import './css/code.css';
@import './css/footer.css';
@import './css/game.css';
@import './css/header.css';
@import './css/loader.css';
@import './css/section.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  text-align: center;
  color: #222;
}

body {
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #222;
}

main {
  flex: 1;
}

h2 {
  margin: 0.5rem 0;
  font-size: 1.15rem;
}

@media (max-width: 648px) {
  * {
    font-size: 0.95rem;
  }
}
