button {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  outline: none;
  user-select: none;
  cursor: pointer;
}

button:active {
  box-shadow: none;
}

#top_btn {
  background: linear-gradient(yellow, orange);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.9;
  z-index: 0;
}

#game_btn {
  background: linear-gradient(yellow, orange);
}

#close_btn {
  background: linear-gradient(orange, yellow);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
}

#answer_btn {
  margin-top: 1rem;
  background: linear-gradient(yellow, orange);
}