footer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  background: linear-gradient(30deg, orange, yellow);
  font-size: 0.9rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

footer a {
  text-decoration: none;
  border-bottom: 1px dashed;
}
