section {
  width: 95%;
  margin: 0.5rem auto;
  content-visibility: auto;
}

section.center p {
  text-align: center;
  margin: 0.5rem 0;
}

section h2 {
  margin: 0.5rem 0;
  font-size: 1.15rem;
}

section h3 {
  margin: 0.5rem 0;
  font-size: 1.05rem;
}

section ul {
  list-style: none;
  padding-left: 2rem;
}

section ol {
  padding-left: 2.5rem;
}

section li {
  text-align: left;
  letter-spacing: 0.75px;
  line-height: 1.25em;
}

section details {
  margin: 0.5rem 0;
}

section details > *:not(summary) {
  display: none;
}

section details[open] > * {
  display: block;
}

section summary {
  font-size: 1.05rem;
  outline: none;
  user-select: none;
  cursor: pointer;
}

section p {
  padding: 0 0.5rem;
  text-align: left;
}

section a {
  display: block;
  margin: 0.5rem 0;
  text-decoration: none;
  color: blue;
  padding: 0.5rem 0;
}

section h3 a {
  margin: 0;
  padding: 0;
}

section a:nth-child(even) {
  background: #eee;
  border-radius: 4px;
}

section h3 a:nth-child(even) {
  background: none;
  border-radius: none;
}
